license-change-2020.txt filter=lfs diff=lfs merge=lfs -text
abigail.m4 filter=lfs diff=lfs merge=lfs -text
ChangeLog filter=lfs diff=lfs merge=lfs -text
configure.ac filter=lfs diff=lfs merge=lfs -text
CONTRIBUTING filter=lfs diff=lfs merge=lfs -text
update-copyright.sh filter=lfs diff=lfs merge=lfs -text
VISIBILITY filter=lfs diff=lfs merge=lfs -text
bash-completion filter=lfs diff=lfs merge=lfs -text
config.h filter=lfs diff=lfs merge=lfs -text
LICENSE.txt filter=lfs diff=lfs merge=lfs -text
post_update.sh filter=lfs diff=lfs merge=lfs -text
AUTHORS filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
tools filter=lfs diff=lfs merge=lfs -text
src filter=lfs diff=lfs merge=lfs -text
COMMIT-LOG-GUIDELINES filter=lfs diff=lfs merge=lfs -text
default.abignore filter=lfs diff=lfs merge=lfs -text
libabigail.pc.in filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
install-sh filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
tests filter=lfs diff=lfs merge=lfs -text
Makefile.am filter=lfs diff=lfs merge=lfs -text
README filter=lfs diff=lfs merge=lfs -text
android_build_version.sh filter=lfs diff=lfs merge=lfs -text
autoconf-archive filter=lfs diff=lfs merge=lfs -text
COMPILING filter=lfs diff=lfs merge=lfs -text
doc filter=lfs diff=lfs merge=lfs -text
m4 filter=lfs diff=lfs merge=lfs -text
patches filter=lfs diff=lfs merge=lfs -text
release-text-template.txt filter=lfs diff=lfs merge=lfs -text
scripts filter=lfs diff=lfs merge=lfs -text
relicensing-scripts filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
include filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
NEWS filter=lfs diff=lfs merge=lfs -text
